//Variables colores
$white: #FEFEFE;
$Malachite: #0AC763;
$Malachite-2:#0AC763;
$Silver: #BDBCBC;
$Cocoa-Brown: #332927;
$Black: #333333;
$Boulder: #B8B4B4;
$Scarlet: #FF1F18;
$Cobald: #0252BC;
$Purple: #5E18BB;
$Bg-purple: #F0E3FE;
$Bg-card-item: #FEFEFE;
$Bg-number: #2E7E78;
$Bg-pay-page: #FAFAF8;

//Responsive theme
$mobile: 500px;
$tablet: 768px;
$desktop: 994px;
$desktop-md: 1200px;
$desktop-lg: 1400px;
$desktop-xl: 1920px;

//FOnts
$Poppins: 'Poppins', sans-serif;
