@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.offcanvas-end {
  width: 40% !important;
  cursor: default; }
  .offcanvas-end .offcanvas-header .deliver-in {
    margin-bottom: 0;
    font-size: 1.25rem; }
    .offcanvas-end .offcanvas-header .deliver-in span {
      font-weight: 700; }
  .offcanvas-end .offcanvas-body {
    padding: 0;
    position: relative; }
    .offcanvas-end .offcanvas-body .footer-shopping-cart {
      height: 6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #FEFEFE;
      padding: 1rem 1.5rem;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4.5rem; }
    .offcanvas-end .offcanvas-body .empty-basket {
      margin: 0;
      color: #B8B4B4;
      cursor: pointer; }
    .offcanvas-end .offcanvas-body a {
      width: 100%;
      height: 2.5rem;
      background-color: #0AC763;
      border: none;
      border-radius: 0.5rem;
      color: #FEFEFE;
      font-size: 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 40%;
      text-decoration: none; }
      .offcanvas-end .offcanvas-body a div {
        background-color: #2E7E78;
        font-weight: 700;
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 0.25rem; }
      .offcanvas-end .offcanvas-body a .go-to-pay {
        font-weight: 700; }

.shooping-cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  height: 100%;
  gap: 1.5rem;
  display: none; }
  .shooping-cart-empty img {
    width: 45%; }
  .shooping-cart-empty p {
    color: #333333;
    font-weight: 700;
    font-size: 1.5rem; }
  .shooping-cart-empty button {
    width: 40%; }

.products-list {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .products-list .product-item {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFEFE;
    padding: 1rem 1.5rem;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05); }
    .products-list .product-item .item-image-text {
      display: flex;
      align-items: center; }
      .products-list .product-item .item-image-text img {
        width: 25%; }
      .products-list .product-item .item-image-text .item-text p {
        margin: 0.5rem; }
      .products-list .product-item .item-image-text .item-text p:nth-child(1) {
        font-size: 0.9rem; }
      .products-list .product-item .item-image-text .item-text p:nth-child(2) {
        font-weight: 700;
        font-size: 1rem; }
    .products-list .product-item .increase-amount {
      width: 45%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem;
      box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
      border-radius: .5rem;
      font-weight: 700;
      width: 25%; }
      .products-list .product-item .increase-amount p {
        margin: 0; }
      .products-list .product-item .increase-amount .button-increase, .products-list .product-item .increase-amount .button-decrease {
        border: none;
        background-color: transparent;
        cursor: pointer; }

html {
  height: 100%;
  font-family: "Poppins", sans-serif; }

body {
  width: 100%;
  margin: 0;
  background-color: #FAFAF8; }

main {
  width: 90%;
  height: 70%;
  margin: 2rem auto; }
  main a {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #332927;
    height: 40px; }
    main a p {
      margin-bottom: 0; }

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #333333; }
  .main-content .products-list {
    width: 45%;
    padding: 1rem; }
  .main-content .user-pay {
    width: 35%;
    text-align: start;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column; }
    .main-content .user-pay label {
      position: relative; }
    .main-content .user-pay input {
      width: 90%;
      height: 30px;
      padding: 0.5rem 0.75rem;
      border: 1px solid #B8B4B4;
      border-radius: 0.5rem;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
      height: 40px;
      margin-top: 1rem;
      font-family: "Poppins", sans-serif;
      color: #332927;
      width: 100%; }
    .main-content .user-pay input::placeholder {
      color: #B8B4B4;
      font-size: 1rem; }
    .main-content .user-pay .container-cards {
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 2rem;
      top: 3rem;
      width: 35%; }
      .main-content .user-pay .container-cards .card-pay {
        height: 22px; }
      .main-content .user-pay .container-cards .selected {
        display: block; }
    .main-content .user-pay .type-card {
      justify-content: end; }
    .main-content .user-pay .number-card {
      display: flex;
      position: relative; }
      .main-content .user-pay .number-card input {
        width: 50%;
        margin-top: 0; }
      .main-content .user-pay .number-card .card-cvc {
        position: absolute;
        right: 2rem;
        top: 0.7rem;
        width: 7%; }
    .main-content .user-pay .name-card-label {
      margin-top: 1rem; }
    .main-content .user-pay .button-submit {
      width: 100%;
      height: 2.5rem;
      background-color: #0AC763;
      border: none;
      border-radius: 0.5rem;
      color: #FEFEFE;
      font-size: 1rem;
      cursor: pointer;
      height: 3rem;
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 700;
      gap: 0.3rem;
      width: 100%;
      border-radius: 0.25rem; }
      .main-content .user-pay .button-submit p {
        margin-bottom: 0; }

.modal-content {
  height: 488px; }
  .modal-content .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .modal-content .modal-body p {
      font-size: 1.5rem;
      color: #332927;
      text-align: center;
      font-weight: 600; }
    .modal-content .modal-body .modal-footer {
      border-top: 0; }
      .modal-content .modal-body .modal-footer .button-add {
        width: 100%;
        height: 2.5rem;
        background-color: #0AC763;
        border: none;
        border-radius: 0.5rem;
        color: #FEFEFE;
        font-size: 1rem;
        cursor: pointer;
        width: 50%;
        margin: auto; }

/*# sourceMappingURL=payPage.css.map */
